* {
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(32, 206, 222);
    margin: 10px 0px 10px 0px;
    font-size: 35px;
}

header{
    background-color: aliceblue;
}

nav {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    margin: 20px;
    a {
    text-decoration: none;
    margin: 10px 20px;
    color: black;
    }
}

button {
    background-color: rgb(32, 206, 222);  
    border: 0px;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px 40px;
    margin: 10px;
}

button:hover{
    background-color: rgb(32, 184, 198);  
}

button:active{
    background-color: rgb(133, 243, 253);  
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultados {
    height: 200px;
}

#modo{
    width: 20px;
    height: 20px;
    border-radius: 500px;
    padding: 0px;
}

#atual {
    margin: 10px 10px 0px 0px;
}

@media (max-width: 768px) {

    nav {
        margin: 0px;
    }

    .resultados{
        height: 150px;
    }

    #fortnite{
        height: 270px;
    }

    button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}